<h1> <%= @car.name %></h1>


<ul>
    <br/>
    
    Doors: <%=  @car.doors%>
    <br/>
    Cylinders: <%=  @car.cylinders%>
    <br/>
    Color: <%= @car.color%>
    <br/>
    transmission: <%= @car.transmission%>
    <br/>
    Price: $<%= @car.price%>
</ul>


<h2><%= link_to "Test Drive #{@car.name}", new_car_test_drife_path(@car.id) %></h2>


<h3> <%= link_to "Back to inventory", dealership_path(@car.dealership) %> </h3>