<h1> <%= @car.name %></h1>


<ul>
    <br/>
    <%= @car.doors%>
    <br/>
    <%= @car.cylinders%>
    <br/>
    <%= @car.color%>
    <br/>
    <%= @car.transmission%>
    <br/>
    <%= @car.price%>
</ul>

 
<h2><%= link_to "Test Drive #{@car.name}", new_car_test_drife_path(@car.id) %></h2>


<h3> <%= link_to "Back to inventory", dealership_path(@car.dealership) %> </h3>