<h1> <%= @car.name %></h1>


<ul>
    <%= @car.doors%>
    <%= @car.cylinders%>
    <%= @car.color%>
    <%= @car.transmission%>
    <%= @car.price%>
</ul>




<%= link_to "Back to inventory", dealership_path(@car.dealership) %>